{% extends "index.html" %}
{% block content %}
<div class="tm-main">
    <div class="tm-section-wrap" style="margin-left: 30px;width: 100%;">
      <section id="home-" class="tm-section" >
        <h2 class="tm-text-primary">Resetear la Contraseña</h2>
        <hr class="mb-5">
        <div class="row">
        <div class="" style="width: auto;margin: auto;">  
  
          <br>
          <p>Fijate que te mandamos mail, pudo haber entrado en spam.</p>
      </form>
  
  </section>
  </div> 
  </div>

{% endblock %}